@import 'reset';
@import './mixin/text-hidden';
@import './mixin/RWD';


$purple :#8A82CC;
$orange :#FFA573;
$yello : #F5D105;
$blue : #73C0D8;
$no : #A5A5A5;
$title: #333333;
$text: #666666;

html,body{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
    }
    .loading{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .disNone{
        display: none;
    }
}

.frame{
    max-width: 376px;
    height: 100%;
    /* 這邊是暫時讓手機好瀏覽 等API地圖完成會再做RWD優化 */
    @include mobile-914{
        max-width: 100%;
    }
    .header{
        display: flex;
        justify-content: space-between;
        color: #FFF;
        padding: 15px;
        background: $blue;
        white-space:nowrap;
        @include mobile-767{
            padding: 15px 8px;
        }
        .week{
            font-size: 38px;
        }
        .day-frame{
            margin-left: 20px;
            @include mobile-767{
                margin-left: 5px;
            }
            .day{
                text-align: right;
                font-size: 16px;
                margin-bottom: 5px;
            }
            .limit{
                font-size: 11px;
                span{
                    color: yellow;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0 5px;
                }
            }
        }
    }

    .flex{
        display: flex;
        justify-content: space-around;
        background: $blue;
        .choose,.choose-citie{
            width: 45%;
            padding: 5px;
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
            border-radius: 15px;
            /* 邊框與箭頭 */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: 2px solid skyblue;
            text-align-last: center;
            &:hover{
                border: 4px solid salmon;
                cursor: pointer;
                padding: 1px;
            }
        }
        .disabled {
            pointer-events: none;
            opacity: 0.6;
        }
    }

    .list{
        height: calc(100% - (71px + 51px));
        /* 這邊是使溢出的Y軸顯示滾動條 */
        overflow-y: scroll;
        /* 隱藏 scrollbar */
        /*
        &::-webkit-scrollbar{
            width: 0;
        }
        */
        li{
            padding: 15px 30px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30);
            background: #EEE;
            @include mobile-767{
                padding: 15px 15px;

            }
            .name{
                font-size: 19px;
                color: $title;
                font-weight: bold;
                @include mobile-767{
                    margin-left: 10px;
                }
            }
            .text{
                font-size: 16px;
                color: $text;
                margin-top: 10px;
                @include mobile-767{
                    margin-left: 10px;
                }
            }
            .maskTotal{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                .aldult-mask,.child-mask{
                    width: 48%;
                    border-radius: 20px;
                    padding: 10px 15px;
                    font-size: 14px;
                    color: #FFF;
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        font-size: 19px;
                    }
                }
                .aldult-mask{
                    background: $blue;
                }
                .child-mask{
                    background: $orange;
                }
                .no{
                    background: $no;
                }
            }

        }
    }


}


#map {
    width: 100%;
    height: 100%;
    @include mobile-767{
        display: none;
    }
}
